* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: "helvetica neue";
}

.circle {
  border: 30px solid white;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 50%;
}
.clock {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 250px;
  height: 20px;
}

#sec {
  background-color: black;
  width: 235px;
  height: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform-origin: right;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(100deg);
}
#min {
  background-color: black;
  width: 210px;
  height: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform-origin: right;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(270deg);
}
#hour {
  background-color: black;
  width: 170px;
  height: 5px;
  transform-origin: right;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(45deg);
}
